@import url('fonts.css');

body {
    margin: 0;
    padding: 0;
}

.advantages {
    margin: 0 auto;
    padding: 108px 0;
    width: 1400px;
}

.pricing {
    margin: 0 auto;
    padding: 108px 0 96px;
    width: 1400px;
    background-color: #f5f5f5;
}

.footer {
    margin: 0 auto ;
    width: 1400px;
    background-image: url("../images/aaa.png");
    background-size: cover;
    padding-bottom: 64px;
    /*height: max-content;*/
}

.social {
    margin: 0 auto;
    padding: 38px 0 14px;
    width: 1400px;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 1100px;
    text-align: center;
}

.price-blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 80px;
    align-items: flex-end;
}

.pblock.s {
    margin: 0 38px;
}

.pblock-ul {
    list-style-type: none;
    margin: 0;
}

.priceLi{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 344px;
    height: 40px;
    text-transform: uppercase;
    color: #c3c3c5;
    background-color: white;
    border-bottom:1px solid #f5f5f5;
}

.priceLi:hover{
    background-color: #ff8b38;
}

.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    letter-spacing: -0.2px;
    word-spacing: -0.9px;
    margin-top: 0;
    margin-bottom: 28px;
}

.logo:after {
    content: '';
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    display: block;
    margin: 24px auto 0;

}

.logo.other {
    color: #ffffff;
    padding-top: 75px;
}

.logo.other:after {
    background-color: #ffffff;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
    font-size: 14px;
    margin-top: 0;
}

.pblock-ul {
    padding-left: 0;
}

.slogan {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: -2px;
}

.blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 62px;
}

.block.b {
    margin: 0 22px;
}

.block a{
padding-right: 15px;
}


i {
    color: #cccccc
}

.one, .two, .three, .four{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: Open Sans Bold, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    width: 344px;
    height: 60px;
    border-bottom: 1px solid white;

}

.two{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    height: 100px;
}

.three{
    border-bottom: 5px solid #ff8b38;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #999999;
    height: 50px;
}

.four{
    background-color: #ff8b38;
    text-transform: uppercase;
    font-size: 14px;
    height: 40px;
}

.first, .second, .third{
    margin: 0 auto;
}

.second{
    font-size: 92px;
}

.dol{
    font-size: 34px;
}

.button-download{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 42px;
    font-size: 15px;
    font-family: "Open Sans SemiBold", sans-serif;
    border: 2px solid #f5f5f5;
}

.description.foot{
    margin: 0 0 34px;
    font-size: 12px;
}

.dfoot{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: #eae9e8;
}

.icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    letter-spacing: 26px;
    font-size: 22px;
    margin-bottom: 16px;
}

.logo.contact{
    margin-top: 108px;
}

.forms{
    padding: 74px 0 42px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.left{
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.forms__input{
    height: 32px;
    width: 526px;
    border: hidden;
    border-bottom: 1px solid #d6d6d6;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #d6d6d6;
    outline: none;
}

.forms__input::placeholder{
    color: #d6d6d6;
}

.fTextarea {
    margin: 0;
    resize: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #d6d6d6;
    height: 200px;
    border: none;
    border-bottom: 1px solid #d6d6d6;;
    width: 526px;
    padding-top: 8px;
    box-sizing: border-box;
    outline: none;
}

.fTextarea::placeholder{
    color: #d6d6d6;
}

.sendMessage{
    background-color: #ff8b38;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    height: 46px;
    border: none;
    width: 144px;
    margin-bottom: 82px;
}
