body{
    background-color: white;
}

.line{
    height: 2px;
    width: 30px;
    background-color: orangered;
    display: inline-block;
}

.header{
    text-align: center;
    margin-top: 8%
}

.block{
    display: inline-block;
    width: 33.3%;

}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 7%;

}
.adv1{
    margin-left: 10%;
    margin-right: 3%;
}

.adv3{
    margin-right: 10%;
    margin-left: 3%;
}