body{
    background-color: white;
}

.line{
    height: 2px;
    width: 30px;
    background-color: orangered;
    display: inline-block;
}

.header{
    text-align: center;
    margin-top: 8%
}

.block{
    display: inline-block;
    width: 33.3%;
    margin: 0 2%;

}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 7% 10%;
}
