@import url('fonts.css');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.row{
    font-size: 0;
    margin: 0 -10px;
}

.col{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 10px;
}

.container {
    margin: 0 auto;
    width: 110rem;
    text-align: center;
}

.logo {
    background: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    letter-spacing: -0.02rem;
    word-spacing: -0.09rem;
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.logo:after {
    content: '';
    width: 6.4rem;
    height: .2rem;
    background-color: #ff8b38;
    display: block;
    margin: 2.4rem auto 0;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
    font-size: 1.4rem;
    margin-top: 2.2rem;
}

i {
    color: #cccccc
}

a {
    text-decoration: none;
    color: #eae9e8;
}

header {
    height: 6.8rem;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.banner {
    background-image: url("../images/banner_background.png");
    background-size: cover;
}

.social {
    box-shadow: .1rem .1rem .5rem;
    position: relative;
    z-index: 0;
}

.features {
    /*margin: 0 auto;*/
    background-color: #f5f5f5;
    padding: 7rem 0 7rem;
}

.advantages {
    margin: 0 auto;
    padding: 10.8rem 0;
}

.pricing {
    /*margin: 0 auto;*/
    padding: 10.8rem 0 9.6rem;
    background-color: #f5f5f5;
}

.testimonials {
    /*margin: 0 auto;*/
    padding: 11rem 0 10.2rem;
}

.feedback {
    /*margin: 0 auto;*/
    background-image: url("../images/feedback_background.png");
    background-size: cover;
    padding-bottom: 6.4rem;
}

/*contacts*/

footer {
    /*margin: 0 auto;*/
    padding: 3.8rem 0 1.4rem;
    background-color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*header*/

.container.header {
    background-color: black;
    width: 110rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo.header {
    margin: 1.2rem 0;
    height: 2.8rem;
    width: 8rem;
}


.header__nav {
    width: 40%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: #b0b0b0;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 1.4rem;
}

/*banner*/

.container.banner {
    margin: 0 auto;
    width: 110rem;
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: none;
}

.left__banner {
    margin: 0;
    width: 50%;
}

.image__logo__banner {
    display: flex;
    justify-content: left;
    margin: 12rem 0 3.2rem;
    height: 6rem;
    width: 17.6rem;
}

.logo.banner {
    background: none;
    color: white;
    text-align: left;
}

.logo.banner:after {
    content: '';
    display: block;
    width: 6.4rem;
    height: 0.2rem;
    background-color: #ffffff;
    margin: 4rem 0;
}

.description__banner {
    width: 79%;
    margin-bottom: 4.4rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
    margin-top: 0;
    text-align: left;
}

.button__banner {
    display: flex;
    margin-bottom: 14rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 13.6rem;
    height: 4.2rem;
    font-size: 1.5rem;
    font-family: "Open Sans SemiBold", sans-serif;
    border: .2rem solid #f5f5f5;
}

.right__banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.right__logo__forms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 5.4rem;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background-color: #f5f5f5;
    margin: 0;
    border-radius: .4rem .4rem 0 0;
    border-bottom: none;
}

.free {
    color: #ff8b38;
}

.input__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36rem;
    background-color: white;
}

.text__form__right, .email__form__right, .password__form__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    border: none;
    width: 28.6rem;
    border-bottom: .1rem solid #d6d6d6;
    outline: none;
    opacity: .5;
    padding: 1rem 1.4rem;
}

.text__form__right, .email__form__right, .password__form__right::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    /*color: #bdbdbd;*/
}

.text__form__right {
    margin-top: 3rem;
    margin-bottom: 3.6rem;
}

.email__form__right {
    margin-bottom: 4.6rem;
}

.password__form__right {
    margin-bottom: 4rem;
}

.button__right {
    height: 5.4rem;
    width: 36rem;
    background-color: #ff8b38;
    border: none;
    font-family: "Open Sans SemiBold", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 0 0 .4rem .4rem;
    outline: none;
}

/*social*/

.social__head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.left__social {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 37%;
}

.logo.social {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 2.2rem 0 0;
    box-shadow: none;
}

.logo.social:after{
    display: none;
}

.description__social {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    text-align: left;
    color: #c3c3c5;
    margin: .6rem 0 2.2rem;
}

.right__social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social__icon {
    margin: 0 2.6rem;
}

/*features*/

.container.features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.features_tab {
    text-transform: uppercase;
    color: #ffffff;
    margin: .1rem auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
    background-color: #333333;
    border-radius: .5rem;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    transition: background-color 300ms;
    padding: .1rem;
}

.features_tab:hover {
    background-color: #ff8b38;
}

.features__center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10.2rem;
}

.features__center__headline {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
    margin: 0;
}

.description._featuresFirst{
    text-align: left;
    margin: 3rem 0 2.6rem;
}

.description._features {
    text-align: left;
    margin-bottom: 4.6rem;
}

.features__button {
    /*margin-top: .1rem;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 12rem;
    height: 4.4rem;
    font-size: 1.5rem;
    font-family: "Open Sans SemiBold", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
    background-color: #ff8b38;
    color: #ffffff;
}

/*advantages*/

.blocks__advantages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 6.2rem;
}

.block__advantages {
    width: 33%;
    padding: 0 .5rem;
    margin: .2rem 0;
}

.slogan__advantages {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: .1rem;
    word-spacing: -.2rem;
}

.icon {
    display: inline-block;
    margin: 0;
    height: 7rem;
    width: 7rem;
    background: url(../icons/advantages_icons.png) no-repeat;
}

.icon.adv_first {
    background-position: 0 0;
}

.icon.adv_second {
    background-position: -7rem 0;
}

.icon.adv_third {
    background-position: -14rem 0;
}

/*pricing*/

.price__blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 8rem;
    align-items: flex-end;
}

.one, .two, .three, .four {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: Open Sans Bold, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    background-color: #333333;
    width: 34.4rem;
    height: 6rem;
    border-bottom: .1rem solid white;

}

.two {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    height: 10rem;
}

.three {
    border-bottom: .5rem solid #ff8b38;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.4rem;
    color: #999999;
    height: 5rem;
}

.four {
    background-color: #ff8b38;
    text-transform: uppercase;
    font-size: 1.4rem;
    height: 4rem;
}

.first, .second, .third {
    margin: 0 auto;
}

.second {
    font-size: 9.2rem;
}

.dol {
    font-size: 3.4rem;
}

.price__block__ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.price__block__li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    width: 34.4rem;
    height: 4rem;
    text-transform: uppercase;
    color: #c3c3c5;
    background-color: white;
    border-bottom: .1rem solid #f5f5f5;
    transition: all 200ms 100ms;
}

.price__block__li:hover {
    background-color: #ff8b38;
    color: white;
}

.price__block__middle {
    margin: 0 3.8rem;
}

/*testimonials*/

._testimonials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial {
    margin: 6rem 3.8rem 0;
}

.review {
    position: relative;
    padding: 2.4rem 1.3rem 2.8rem;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 1.4rem;
    color: #b0b0b3;
    background-color: #f5f5f5;
    text-align: left;
    margin: 0 -4rem 2.4rem;
}

.review:after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 2.5rem;
    border-top: 1.5rem solid #f5f5f5;
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
}

.person {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
}

.testimonial__name__position {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 1.6rem;
}

.testimonial__name {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.testimonial__position {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #a4a5a8;
}

/*feedback*/

.feedback.logo {
    color: #ffffff;
    padding-top: 7.5rem;
    padding-bottom: 0;
    background: none;
}

.feedback.logo:after {
    content: '';
    width: 6.4rem;
    height: .2rem;
    background-color: #ffffff;
    display: block;
}

.feedback__description {
    font-family: 'Raleway', sans-serif;
    color: #a4a5a8;
    margin: 0 0 3.4rem;
    font-size: 1.6rem;
}

.feedback__button {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 13.6rem;
    height: 4.2rem;
    font-size: 1.5rem;
    font-family: "Open Sans SemiBold", sans-serif;
    border: .2rem solid #f5f5f5;
}

/*contacts*/

.contacts.logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    letter-spacing: -0.02rem;
    word-spacing: -0.09rem;
    margin-bottom: 2.8rem;
    margin-top: 10.8rem;
}

.contacts.logo:after {
    content: '';
    width: 6.4rem;
    height: .2rem;
    background-color: #ff8b38;
    display: block;
    margin: 2rem auto 0;
}

.contacts__forms {
    padding: 7.4rem 0 4.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contacts__left {
    height: 20rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.contacts__forms__input {
    height: 3.2rem;
    width: 52.6rem;
    border: hidden;
    border-bottom: .1rem solid #d6d6d6;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #d6d6d6;
    outline: none;
}

.contacts__forms__input::placeholder {
    color: #d6d6d6;
}

.contacts__textarea {
    margin: 0;
    resize: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #d6d6d6;
    height: 20rem;
    border: none;
    border-bottom: .1rem solid #d6d6d6;;
    width: 52.6rem;
    padding-top: .8rem;
    box-sizing: border-box;
    outline: none;
}

.contacts__textarea::placeholder {
    color: #d6d6d6;
}

.contacts__sendMessage {
    background-color: #ff8b38;
    border-radius: .2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: white;
    height: 4.6rem;
    border: none;
    width: 14.4rem;
    margin-bottom: 8.2rem;
}

/*footer*/

.footer__icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    letter-spacing: 2.6rem;
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
}

.footer__date {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    color: #a4a5a8;
    margin-top: 0;
}


@media (max-width: 640px) {
    .col-md_1{width: 16.66666667%;}
    .col-md_2{width: 33.33333333%;}
    .col-md_3{width: 50%;}
    .col-md_4{width: 66.66666667%;}
    .col-md_5{width: 83.33333333%;}
    .col-md_6{width: 100%;}

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    .container{
        width: 100vw;
        /*padding: 0 .5rem;*/
    }

    .logo{
        margin: 0 auto;
    }

    /*header*/

    .container.header {
        margin-top: 1.2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .logo__header {
        margin: 1.2rem 0;
        height: 2.8rem;
        width: 8rem;
    }

    .header__nav {
        width: 100vw;
        justify-content: space-evenly;
    }

    /*banner*/
/*
    .banner{
       background: none;
    }
*/
    .container.banner {
        width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background: none;
    }

    .left__banner {
        width: 100vw;
        margin: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .logo.banner {
        text-align: center;
        margin: 0 auto;
    }

    .logo.banner:after {
        display: none;
    }

    .description__banner {
        display: none;
    }

    .button__banner {
        display: none;
    }

    .right__banner {
        align-items: center;
        width: 100vw;
        margin: .8rem auto;
    }

    /*social*/

    .social{
        display: none;
    }

    /*features*/

    .features {
        display: none;
    }

    /*advantages*/

    .blocks__advantages {
        flex-flow: column nowrap;
        align-items: center;
    }

    /*pricing*/

    .price__block{
        display: none;
    }

    /*testimonials*/

    .testi{
        margin: 0 auto;
    }

    ._testimonials {
        flex-flow: column nowrap;
        margin: 0 auto;
    }

    .person {
        justify-content: start;
        align-items: center;
    }

    /*feedback*/

    .feedback__description{
        margin: 1.5rem auto;
    }

    /*contacts*/

    .contacts__textarea{
        display: none;
    }

    .contacts__forms{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .contacts__forms__input {
        width: 75vw;
    }

    /*footer*/

    footer{
        width: 100vw;
    }

    .footer__icons {
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        letter-spacing: 1.6rem;
    }
}

